*{
       padding: 0;
       margin: 0;
       box-sizing: border-box;
}
body{
       background-color: #dcd4dd;
       font-family: Verdana, sans-serif;
       
}
.container {
       padding: 5px;
       color: #321f41;
       position: relative;

}
input {
       width: 100%;
       padding: 10px;
       margin-top: 4px;
       margin-bottom: 20px;
       outline: none;
       border: none;
       border-radius: 5px;
}
.table {
       background: #5d486d;
       width: 100%;
       color: #fff;
}
.table-section{
       display: flex;
       padding: 10px;
       justify-content: space-around;

}
#book-list {
       display: flex;
       flex-direction: column;
       list-style: none;
       overflow: hidden;
       word-wrap: break-word;
       background-color: #fff;
       color: #564169;

}
#book-list > section {
       display: flex;
       justify-content: space-around;
       align-items: center;
       text-align: center;
       border-bottom: 1px solid #ccc;
       padding: 10px;
}
.btn {
       background-color: #e18626;
       border: none;
       color: #ededed;
       margin-bottom: 20px;
       padding: 10px 20px;
       cursor: pointer;
}
.btn:hover {
       opacity: 0.9;
       background-color: #dba267;
}
.container h1 {
       margin-top: 10px;
       color: #564169;
}
p {
       margin-bottom: 10px;
}
.navbar {
       background-color: #321f41;
       color: #fff;
}
.nav-link {
       color: #fff;
}
.nav-link:hover{
       color: #dba267;
}


